<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>qtm-game</title>
	<meta name = "viewport" content = "width = device-width">
	<meta name="author" content="Brian Rogers">
	<!-- Date: 2011-02-14 -->
	<script src="../../scripts/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../scripts/mcquiz.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="../../style/qtm-game.css" type="text/css" media="screen" charset="utf-8">
	<script>
	
	function showMenu() {
		$('#gamemenu').show();
		$('#gameover').hide();
		$('#gameframe').hide();
		$('#getready').hide();
	}
	
	$(document).ready(function(){
		//startup jquery stuff
		$('#button1').click(function(){qtm.submitAnswer($(this).text());});
		$('#button2').click(function(){qtm.submitAnswer($(this).text());});
		$('#button3').click(function(){qtm.submitAnswer($(this).text());});
		$('#button4').click(function(){qtm.submitAnswer($(this).text());});
		
		$('#btnAdd').click(function(){qtm.resetGame('add');});
		$('#btnSub').click(function(){qtm.resetGame('sub');});
		$('#btnMul').click(function(){qtm.resetGame('mul');});
		$('#btnDiv').click(function(){qtm.resetGame('div');});
		
		$('#getready').click(function(){qtm.startGame();});
		
		//$('#gameover').click(function(){window.document.location = window.document.location});
		$('#gameoverbutton').click(function(){window.document.location = window.document.location;});
		
		$('#backbutton').click(function(){
			window.document.location = "/play";
		});
		
		$('#quitbutton').click(function(){
			showMenu();
		});
		
		//playerName = "{{player}}";
		
		showMenu();
		
	});
	
	var qtm = new mcquiz();
	
	qtm.playerName = "{{player}}";
	
	qtm.updateStartGameUI = function() {
		$('#getready').hide();
		$('#gameframe').show();
	}
	
	qtm.updateTimerUI = function(counter) {
		$('#timer').text(counter);
	};
	
	qtm.updateQuestionUI = function(text,answers) {
		$('#questionText').text(text);
		$('#button1').text(answers[0]);
		$('#button2').text(answers[1]);
		$('#button3').text(answers[2]);
		$('#button4').text(answers[3]);
	}
	
	qtm.updateGameOverUI = function(message) {
		$('#gameframe').hide();
		$('#gameover').show();
		$('#gameover-msg').html(message);
	}
	
	qtm.updateScoreUI = function(score) {
		$('#score').text(score);
	}
	
	qtm.updateResetGaneUI = function() {
		$('#getready').show();
		$('#gamemenu').hide();
		$('#gameover').hide();
		$('#gameframe').hide();
	}
	
	window.scrollTo(0, 44);

	</script>
</head>
<body>
<div id="gamemenu">
	<div id="backbutton">Back</div>
	<div id="player">{{player}}</div>
	<div id="btnAdd">{{add_score}}</div>
	<div id="btnSub">{{sub_score}}</div>
	<div id="btnMul">{{mul_score}}</div>
	<div id="btnDiv">{{div_score}}</div>
</div>
<div id="getready">
	<div id="touchtostart">
	</div>
</div>
<div id="gameframe">
	<div id="quitbutton">Quit</div>
	<div id="questionText"></div>
	<div id="button1"></div>
	<div id="button2"></div>
	<div id="button3"></div>
	<div id="button4"></div>
	<div id="timer"></div>
	<div id="score"></div>
</div>
<div id="gameover">
	<div id="gameoverbutton">Try Again</div>
	<div id="gameover-msg"></div>
</div>
</body>
</html>
