!!! 5
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title qtm-game
		meta(name='viewport', content='width = device-width')
		meta(name='author', content='Brian Rogers')
		script(src='/scripts/jquery.js', type='text/javascript', charset='utf-8')
		script(src='/scripts/mcquiz.js', type='text/javascript', charset='utf-8')
		link(rel='stylesheet', href='/style/qtm-game.css', type='text/css', media='screen', charset='utf-8')

	body!= body