script(src='/scripts/newplayer.js', type='text/javascript', charset='utf-8')

#newplayerform
	#playerlabel Player Name:
	input#playername(type='text', value='')
	#checkname That name is already taken. Please try another.
	#passwordlabel Password:
	input#password(type='password', value='')
	#newplayerbutton Add Player
